*

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.broadway {
  background-image:url("../images/the-flatiron-building.png");
  color: white;
}

body {
  text-align: center;
  font-family: Helvetica;
}

h4 {
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight:bold;
  color: black;
}

h3 {
  font-size: 23 px;
  font-weight: bold;
  color: black;
}

h5 {
  font-size: 23px;
  font-weight: bold;
  background-image:url("../images/the-flatiron-building.png");
  color: white;
}

p {
  font-size: 14 px;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
  background-color: dimgray;
  color: white;
}

a {
  color: white;
}

#copyright {
  font size: 11px;
}

.footer {
  background-color: dimgray;
}
