*

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.broadway {
  background-image:url("../images/the-flatiron-building (1).jpeg");
  color: white;
}

body {
  text-align: center;
  font-family: Helvetica;
}

h2 {
  font-size: 18px;
}

h4 {
  font-size: 32px;
  font-weight:bold;
  color: black;
}

h3 {
  font-size: 23 px;
  font-weight: bold;
  color: black;
}

h5 {
  font-size: 23px;
  font-weight: bold;
  background-image:url("../images/the-flatiron-building.png");
  color: white;
}

p {
  font-size: 14 px;
  color: black;
}

a {
  color: white;
}

.footer-bar {
  width: 100%;
  height: 22px;
  background-color: dimgray;
  display: inline-block;
}

.footer-bar > a {
  background-color: dimgray;
  color: white;
  font-size: 18px;
  float: left;
}

.footer-bar > .copy {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
